.wrapper {
    display: flex;
    align-items: stretch;
    
    &--noflex {
        @media (max-width: 430px) {
            display: initial;
        }
    } 
}

.fa-caret-down {
    margin-right: 3rem;
}

.col-xl-3 {
    &--change {
        max-width: 27%;
        flex: 0 0 27%;

        @include largest {
            max-width: 100%;
            flex: 0 0 100%;
        }
    }
}

.col-xl-9 {
    height: calc(100% - 6rem);
    &--change {
        max-width: 73%;
        flex: 0 0 73%;
        

        @include largest {
            max-width: 100%;
            flex: 0 0 100%;
        }
    }
}

.sidebar {
    min-width: 279px;
    max-width: 300px;
    background: #fff;
    color: #2f2f2f;
    position: relative;
    z-index: 1;
    transition: all 0.3s;
    border-right: 1px solid #e9ecef;
    overflow: hidden;
    position: sticky;
    left: 0;
    top: 0;
    height: 100vh;

    &__header {
        width: 28rem;
        padding: 3rem 3rem 2.5rem;
        //padding: 2rem;

        img {
            width: 100%;

            @include medium {
                width: 80%;
            }
        }


    }

    &__item {
        padding: 2rem 3rem;
        transition: all .3s;

        &:hover {
            background-color: black;
        }

        &:hover a {
            color: white;
        }
    }

    &__link {

        display: grid;
        grid-template-columns: 1fr 4.45fr;      
        align-items: center;  
        color: black;

        & .icon {
            font-size: 2rem !important;
        }

        & .item {
            font-size: 1.8rem;
            line-height: 1;
        }

        @include medium {
            grid-template-columns: 1fr 3.5fr;   
        }
   
    }

    &--kyc {
        @include largest{
            position: absolute;
            left: 0;
            right: 0;
        }
    }

    @include small-v2 {
        position: absolute;
        left: 0;
        right: 0;
    }
}

.btn {
    padding: 0;
    font-size: 2rem;
}

.btn-info {
    color: #212529;
    background-color: #eee;
    height: 40px;
    width: 28px;
    border-radius: 0 30px 30px 0;
    border: none;
    top: -2px;
    position: relative;
    z-index: 1;
    left: 0rem;   

    @include medium {
        top: -6px;
        z-index: 2;
    }

  }



  .btn-info:focus {
    box-shadow: none;
    outline: 0;
  }
  
  .btn-info:hover {
    color: #fff;
    background-color: black;
  }
  
  .btn-info:not(:disabled):not(.disabled).active:focus,
  .btn-info:not(:disabled):not(.disabled):active:focus,
  .show > .btn-info.dropdown-toggle:focus {
    background: black;
    box-shadow: none;
  }

.sidebar.active1 {
    min-width: 9rem;
    max-width: 9rem;
    text-align: center;
    overflow: hidden;

    @include medium {
        min-width: 9rem;
        max-width: 9rem;
    }

    @include small-v2 {
        position: fixed;
        height: 100vh;
        left: 0;
        top: 0;
        z-index: 2;
    }
}


.sidebar.active1 .sidebar__item {
    padding: 2rem 0.5rem;

    &:hover {
        background-color: black;
    }

    &:hover a {
        color: white;
    }
}

.sidebar.active1 .sidebar__header {
    img {
        margin-left: .75rem;
        @include medium {
            width: 100%;
            margin-left: 1rem;
        }
    }
}

.sidebar.active1 .sidebar__link {

    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: .5rem;

    & .icon {
        font-size: 2.5rem;
    }

    & .item {
        font-size: 1.5rem;
        line-height: 1.2; 
    }
}

li.active {
    background-color: black;
    
    a {
        color: white;
    }
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -300px;
    }
    #sidebar.active1 {
        margin-left: 0;
    }
    // #sidebarCollapse span {
    //     display: none;
    // }
}

@media (max-width: 1370px) {
    .sidebar--kyc {
        margin-left: -300px;
    }
    .sidebar--kyc.active1 {
        margin-left: 0;
    }
    // #sidebarCollapse span {
    //     display: none;
    // }
}

.navbar-toggler {

    &:focus {
        outline: 1px solid #fff;
    }

    .fa-bars {
        font-size: 2.5rem;
        margin-right: 2rem;

        @include smallest-v2 {
            margin-right: .4rem;
        }
    }

    
}

.navbar {
        @include small-v2 {
            padding-top: 3rem;
            align-items: flex-start;
            position: relative;
        }
}


.navbar-nav {
    @include small-v2 {
        flex-direction: row !important;
        position: relative;
        top: -6px;
        background-color: white;
        width: 100%;
        padding: 2rem 0;
        z-index: 1;
        box-shadow: 0 8px 6px -6px #00000038;
        
    }
}

.border-botop {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.border-top {
    border-top: 1px solid black;
}

.display-hide {
    @include small-v2 {
        display: none;
    }
}

.link-mob {
    @include small-v2 {
        //margin-left: -40rem !important;
        margin: 0 !important;
        //margin-left: -40rem !important;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-left: 3rem !important;
        margin-right: 3rem !important;
        justify-content: flex-start !important;

        .proflepic {
            width: 40px !important;
            height: 40px !important;
        }

        .fa-caret-down,
        .greeting {
            vertical-align: middle;
        }
    }

    @include smallest-v2 {
        margin-left: 1.5rem !important;
        margin-right: 1.5rem !important;
    }
}

.mobo-link {
    @include small-v2 {
        //margin-left: 6rem;
        //margin: 2rem 0;
        margin-top: 3rem;
        margin-bottom: 1rem;
        width: 100%;
        a {
            padding: 1.3rem 0;
            padding-left: 5px;
        }
        .mt-2 {
            margin-top: 0 !important;
        }
    }

    @include smallest-v2 {
        a {
            font-size: 1.7rem;
        }

        span {
            font-size: 1.7rem;
        }
    }
}

.dropdown-item.active, .dropdown-item:active {
    color: black;
    text-decoration: none;
    background-color: color(body-bg);
}

.collapse-mob {
    display: none;
    @include small-v2 {
        display: initial;
    }
}


.navbar-nav .dropdown-menu {

    @include small-v2 {
        position: absolute;
    }
    

}

.dropdown-toggle--hide {
    @include small-v2 {
        display: none;
    }
}

.collapsable-nav {
    display: none;
    @include small-v2 {
        display: initial;
    }
}



.content {
    flex: 1 1;

    & .navbar {
        height: 9.6rem;
        background-color: #fff;

        & .fa-bell {
            color: black;
            font-size: 2.4rem;
            position: relative;
        }

        & .badge {
            position: absolute;
            top: -5px;
            right: -11px;
            background-color: black;
            color: white;
            font-size: 10px;
           
            border-radius: 50%;

            span {
                display: flex;
                align-items: center;
                
            }
        }

        & .dropdown-menu-left {
            right: -13px;
            font-size: 1.6rem;
            left: auto;
            top: 35px;
            width: 250px;

            @include medium {
                left: 0;
                top: 55px;
            }

            @include small-v2 {
                left: -218px;
                top: 40px;
            }
        }
        
        li {
            margin-left: 6rem;
        }

        .proflepic {
            width: 65px;
            height: 65px;
            border-radius: 100px;
            cursor: pointer;
        }

        .greeting {
            font-size: 1.7rem;
        }

        .dropdown-toggle::after {
        //    width: 10px;
            //border: 0.4rem;
            border-top: .4em solid;
            border-right: .4em solid transparent;
            border-bottom: 0;
            border-left: .4em solid transparent;
        }

        & .dropdown-menu-right {
            right: 0;
            font-size: 1.3rem;
            width: 240px;
            top: 0;

            li {
                &:hover {
                    background-color: black !important;
                }
            }
            
            a {
                padding: 4px 24px 4px 35px;
            }

            @include small-v2 {
                top: 1rem;
            }
        }
    }
}

.notification {
    &__person {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 6px;
            height: 6px;
            left: -16px;
            top: 7.5px;
            
            border: 1.5px solid black;
            border-radius: 50%;

            @include medium {
                top: 10.5px;
            }

            @include smallest-v2 {
                top: 8px;
            }

        }
    }
}

.cards {
    display: grid;
    padding: 5rem 3rem;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    justify-content: center;
    column-gap: 7rem;
    // display: flex;
    // padding: 5rem 3rem;
    // justify-content: space-between;

    @media (max-width: 1570px) {
        column-gap: 3rem;
    }

    @media (max-width: 1250px) {
        grid-template-columns: repeat(auto-fit,minmax(33rem,1fr));
        column-gap: 6rem;
        row-gap: 4rem;
    }

    @media (max-width: 1100px) {
        grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
        column-gap: 4rem;
    }

    @media (max-width: 929px) {
        gap: 2rem;
    }

    @include smallest-v2 {
        padding: 5rem 1.5rem;
    }

    @include smallest-v3 {
        grid-template-columns: 1fr;
        padding: 5rem 1.5rem;
    }       
}

.card-body {
    border-radius: 5px;
    box-shadow: 0 5px 8px 0 #00000038;
    border: none;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    column-gap: 3rem;
    padding: 2.5rem;

    // &__details {
    //     margin-left: 3rem;
    // }

    img {
        width: 100%;
    }

    &__icon {
        width: 80px;
        @media (max-width: 1570px) {
            width: 55px;
        }

        @media (max-width: 1250px) {
            width: 80px;
        }

        @media (max-width: 1100px) {
            width: 55px;
        }

        @include large {
            width: 68px;
        }

        @include smallest-v2 {
            width: 80px;
        }
    }

    &__number {
        font-size: 3.4rem;
        margin-bottom: 1rem;

        @media (max-width: 1570px) {
            font-size: 2.5rem;
        }

        @media (max-width: 1250px) {
            font-size: 3.4rem;
        }

        @media (max-width: 1100px) {
            font-size: 3rem;
        }

        @include large {
            font-size: 2.5rem;
        }

        @include smallest-v2 {
            font-size: 3.4rem;
        }
        
    }

    &__text {
        font-size: 1.9rem;
        

        @media (max-width: 1570px) {
            font-size: 1.6rem;
        }

        @media (max-width: 1250px) {
            font-size: 1.9rem;
        }

        @media (max-width: 1100px) {
            font-size: 1.5rem;
        }

        @include smallest {
            font-size: 1.9rem;
        }
    }

    @include large {
        padding: 2rem 1.5rem;
    }

    @media (max-width: 879px) {
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
        row-gap: 2rem;
    }

    @include smallest-v2 {
        padding: 2.5rem;
    }   
}

.card-dashboard,
.card-topmerchant {
    
    background-color: #fff;
    margin: 0 1.7rem;
    margin-bottom: 6rem;
    border-radius: 5px;
    padding: 2.7rem;
    box-shadow: 0 4px 10px 0 #00000040;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
       
    }

    .collapse {
        margin-bottom: 3.3rem;
        
    }

    &__img {
        height: 46rem;
        img {
            width: 100%;
            height: 100%;
        }

        @include largest {
            height: auto;
        }
    }

   
}

.card-dashboard {
    @include smallest-v2 {
        margin-left: 0;
        margin-right: 0;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }
}
    

.totalmarketcaptitle {
    font-size: 1.9rem;
    font-weight: 600;
}

.my-col {
    @media (max-width: 1058px) {
        flex-basis: 100%;
        max-width: 100%;
    }
}

.card-topmerchant {
    margin-left: 0;

    .totalmarketcaptitle {
        span {
            font-size: 1.55rem;
            @include largest {
                display: block;
            }

            @include medium {
                display: initial;
            }
        }
    }

    @include largest {
        margin-left: 3rem;
    }

    @include smallest-v2 {
        padding: 2.7rem 1.2rem;
        margin: 0 1.5rem;
        margin-right: 0;
        margin-bottom: 6rem;
    }

    @include smallest-v5 {
        padding: 2.7rem 1rem;
        margin: 0 1.5rem;
        margin-right: 0;
        margin-bottom: 6rem;
    }
    
}

.card-table {
    
    .table {
        &::before {
            display: none;
        }

        tbody {
            padding-top: 1rem;
        }

        th {
            border-bottom: 1px solid rgba(0,0,0, .15);
            font-size: 1.8rem;
        }
    
        td {
            padding: .7rem !important;
            font-size: 1.8rem;

            @media (max-width: 772px) {
               padding: 0 !important;
            }

        }

        .padding-bottom {
            padding-bottom: 1rem !important;

            @media (max-width: 772px) {
                padding-bottom: 0 !important;
             }
           
        }

        .padding-top {
            padding-top: 1.2rem !important;
            @media (max-width: 772px) {
                padding-bottom: 0 !important;
             }
            
        }
    }

    @media only screen and (max-width: 772px) {


        table, thead, tbody, th, td, tr { 
            display: table;   
        }

        table {
            margin-bottom: 0 !important;
        }

        thead tr { 
            position: initial;
            border-bottom: none;
            
        }

        td { 
           
            position: initial;
            text-align: initial;
            padding: 0;
            font-size: 1.6rem !important;
            // @include smallest-v4 {
            // 	font-size: 1.5rem;
            // }
        }

        td:before { 
            display: none;
        }

        tbody, thead {
            width: 100%;
        }

        thead {
            border-bottom: 1px solid rgba(0,0,0, .15);
            
        }

        tr {
            display: flex;
            justify-content: space-between;   
            width: 100%; 
            padding: 1rem 1rem;
            
        }



        th {
            border: none !important;
            font-size: 1.6rem !important;
        }
        
        
		
			
    }

    @include smallest-v2 {
        td {
            font-size: 1.6rem;
        }
    }

    @include smallest-v3 {
        
    }
    
    
}



  
