//////////////////////////////////////
//// "Segon UI" FONT

@font-face {
    font-family: "Segoe UI";
    src: url("../font-family/Segoe\ UI.ttf");
}

@font-face {
    font-family: "Segoe UI";
    src: url("../font-family/HelveticaNeueBd.ttf");
    font-weight: 700;
}

////////////////////////////////////////
// GLOBAL RESET

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    

    // @include smallest {
    //     font-size: 60%;
    // }

    // @include smallest-v2 {
    //     font-size: 60%;  // 52
    // }


    // @include smallest-v4 {
    //     font-size: 58%;  // 52
    // }

    // @include small-v2 {
    //     font-size: 65%;
    // }

    @include medium {
        font-size: 75%;  //65
    }
    
    @include smallest-v2 {
        font-size: 62.5%;
    }

    @include smallest-v5 {
        font-size: 55%;  // 50
    }
}

// .user-wallet {
//     @include smallest-v3 {
//         font-size: 40%;
//     }
// }

// .user-wallet {
//     @include smallest-v2 {
//         font-size: 40%;
//     }
// }


body {
    font-family: 'Segoe UI', sans-serif;
    color: color(white);
    background-color: color(body-bg);
    display: flex;
    font-size: 1.4rem;
    flex-direction: column;
    
    //height: 100vh;
    //overflow: hidden; /* Hide scrollbars */
}


a {
    text-decoration: none;
    color: color(secondary);

    &:hover {
        color: color(primary);
        text-decoration: none;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h2,h3 {
    margin-bottom: 0;
}

.container {
    @media (min-width: 1200px) {
        &--small {
            max-width: 1054px;
        }
    }
    
   
}

// .dropdown-menu {
//     top: 4rem;
//     right: 0;
// }

