////////////////////////////////////////
// VARIABLES

$colors: (
    //primary :#03597e,
    //secondary : #00aeef,
    primary : #000,
    secondary : #000,
    body-bg : #f5f5f5,
    label : #000,
    hover : #0684ac,
    invalid : #c51112,
    light-grey : #8e9091,
    dark-grey : #616161

);

////////////////////////////////////////
// VARIBLES FOR VIEW PORT SIZE
// ALL THE POSSIBLE BREAKPOINT FOR RESPONSIVE LAYOUT

$bp-largest: 1200px;   // STANDARD DESKTOP
$bp-large: 991px;     // BIG TABLET
$bp-medium: 828px;    // STANDARD TABLET
$bp-small-v2: 768px;    // MOBILE
$bp-small: 705px;      // MOBILE
$bp-smallest: 575px;   // SMALL SIZE OR OLDER PHONE
$bp-smallest-v2: 528px;   // SMALL SIZE OR OLDER PHONE
$bp-smallest-v3: 412px;   // SMALL SIZE OR OLDER PHONE
$bp-smallest-v4: 375px;   // SMALL SIZE OR OLDER PHONE
$bp-smallest-v5: 320px;   // SMALL SIZE OR OLDER PHONE
